<h2>Log in</h2>

<div id='form'>
  <form action='/auth/login' method='post'>
    <label for='username'>Username:</label>
    <input type='text' name='username' placeholder='Username' id='username' />

    {{! <label for='email'>Email:</label>
    <input type='email' name='email' placeholder='Email' id='email' /> }}

    <label for='password'>Password:</label>
    <input
      type='password'
      name='password'
      placeholder='Password'
      id='password'
    />

    <button type='submit'>Log in!</button>

  </form>
</div>