<h2>Sign up</h2>

<div id='form'>
  <form action='/auth/signup' method='post'>
    <label for='username'>Username:</label>
    <input type='text' name='username' placeholder='Username' id='username' />

    <label for='email'>Email:</label>
    <input type='email' name='email' placeholder='Email' id='email' />

    <label for='password'>Password:</label>
    <input
      type='password'
      name='password'
      placeholder='Password'
      id='password'
    />

    {{#if errorMessage}}
      <p class='error'>{{errorMessage}}</p>
    {{/if}}

    <button type='submit'>Sign up!</button>

  </form>
</div>