<h3>Edit Post</h3>

<form action='/post/{{post._id}}/edit-post' method='post'>
  <input
    type='text'
    name='title'
    id='title'
    placeholder='Title'
    value='{{post.title}}'
    class='form-control form-control-lg text-center border-0 p-0 fs-2'
  />

  <textarea
    type='text'
    name='content'
    id='content'
    placeholder='Content'
    class='form-control form-control-lg border-0 p-0 fs-5 mt-3'
    rows='6'
  >{{post.content}}</textarea>

  <div class='center'>
    <textarea name='code' id='editor'>
      {{post.code}}
    </textarea>
  </div>

  <div class='text-center'>
    <button type='submit' class='btn btn-primary mt-4'>Update</button>
  </div>

</form>

<script src='/javascripts/code.js'></script>