<h3>New Post</h3>

<form action='/post/new-post' method='post'>
  <input type='text' name='title' id='title' placeholder='Title' class="form-control form-control-lg text-center border-0 p-0 fs-2"/>

  <textarea type='text' name='content' id='content' placeholder='Describe your code, comment for others, etc...' class="form-control form-control-lg border-0 p-0 fs-5 mt-3"></textarea>

  <div class='center'>
    <textarea name='code' id='editor'>  let greeting = () => console.log('Hello World!')</textarea>
  </div>

    <div class="text-center">
        <button type='submit' class="btn btn-primary mt-4">Add post!</button>
    </div>

</form>

<script src='/javascripts/code.js'></script>