body {
  /* padding: 50px; */
  /* font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  /* color: #00b7ff; */
}

.codemirror {
  border-radius: 10px;
}
